body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222222;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f47b20;
    text-decoration: none;
}

.navbar .logo span {
    color: #00b3ff;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    background-color: #f47b20;
    color: #ffffff;
}
.hero h1{
    font-size: 40px;
    color:rgb(165, 46, 42);
}
.hero h2 span{
    color:rgb(165, 46, 42);
}
.hero p{
    font-size: 24px;
    color:black;
}
#div a{
    font-size: 20px;
    color:rgb(255, 254, 253);
    background-color:rgb(110, 11, 11);
   padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}
.button a{
    font-size: 20px;
    color:rgb(255, 254, 253);
    text-decoration: none;}
.hero{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding:0px 100px;
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 600px;
    background: linear-gradient(rgba(32,25,25,0.5),rgba(26,18,18,0.45)),url("./bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    
    .button{
        display: inline-block;
        width: 120px;
        padding: 10px;
        background-color: rgba(233, 8, 8, 0.8);
        color:#ffffff;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        font-color: #ffffff;
        height: 25px;
        cursor: pointer;
        
    }
    .hero h1{
        margin: 0px;
        color:rgb(165, 46, 42);
        font-size: 40px;
    }
    .hero p{
        padding: 0px;
        margin: 0px;
        color:black;
        font-size: 20px;
    }
    .cat{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        margin-bottom: 40px;
        background: linear-gradient(to bottom,white,rgba(255, 182, 193, 0.27));
        
    }
    .cat-cards{
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cat-card img{
        width: 150px;
        height:150px;
        object-fit: cover;
        border-radius:12px;
    }
    
    .cat-card{
        width: 200px;
        height: 250px;
        background-color:rgb(124, 217, 234);
        border-radius:  20px;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
        display: flex;
        color:black;
        
    }
    .cat-card:hover{
        transform: scale(1.05);
    }
    
     .deals{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        margin-bottom: 40px;
        background: linear-gradient(to bottom,white,lightblue);
        
    }
    .deals-cards{
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .deals-card img{
        width: 150px;
        height:150px;
        object-fit: cover;
        border-radius:12px;
    }
    
    .deals-card{
        width: 200px;
        height: 250px;
        background-color:rgba(124, 218, 234, 0.673);
        border-radius:  20px;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
        display: flex;
        color:black;
        
    }
    .deals-card:hover{
        transform: scale(1.05);
    }
    